.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
}

.container_stuff_containers {
  display: flex;
  margin: 10px;
}

.container_grogu_containers {
  display: flex;
  margin: 10px;
}

.dice {
  font-size: 30px;
}
